.ProfilePage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin: 0 74px;
}

.button {
    align-self: flex-start;
    margin-top: 38px;
    border-width: 3px;
    padding: 50px;
    border-radius: 24px;
}

.button:hover > .icon {
    fill: var(--secondary-color);
}

.icon {
    fill: var(--main-color);
    width: 50px;
}

.link {
    font: var(--font-h3);
    font-weight: 500;
    text-decoration: underline;
}

.resetPassword {
    font: var(--font-h3);
    font-weight: 500;
    color: var(--main-color);
    margin-top: 38px;
    max-width: 163px;
    text-align: right;
}


.row{
    display: flex;
}