.FormInputRow {
    display: flex;
    flex-direction: column;
}


.label {
    font: var(--font-h2);
    font-weight: 500;
    margin-left: 22px;
    margin-bottom: 8px;
    color: var(--secondary-color);
}

.isError {
    border: 5px solid var(--error-color);
    color: var(--error-color);
}

.error {
    text-align: right;
    font: var(--font-h3);
    color: var(--secondary-color);
    font-weight: 500;
    margin-top: 5px;
}