.input {
    display: none;
}


.label {
    display: block;
    font: var(--font-h2);
    color: var(--secondary-color);
    position: relative;
    cursor: pointer;
}

.label::before {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--secondary-color);
    border-radius: 8px;
    z-index: 3;
}

.input:checked + .label::after
 {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    background: var(--main-color);
    opacity: 0.7;
    border-radius: 8px;
    transform: translateY(-50%);
    z-index: 4;
}

.input:checked + .left::after {
    left: 3px;
}

.input:checked + .right::after {
    right: 3px;

}

.left {
    padding-left: 86px;
}

.right {
    padding-right: 86px;
}

.left::before {
    left: 0;
}

.right::before {
    right: 0;
}